.contenedor {
  margin: 10px auto; 
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2 {
  text-align: center;
}
ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-self: center;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
li {
  list-style: none;
}
input[type="button"]
{
  background-color: white;
  border: none;
  border-bottom: 1px solid grey;
}
.icono-arriba{
  position: fixed;
  bottom: 20px;
  right: 20px;
  
}
i{
  color: rgb(105, 101, 101);
}
.imagenes{
 margin: 0 auto;
  max-width: 700px;
}
img{
  width: 100%;
}
.contenedor-card{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
  margin-right: 5px; 
  justify-content: center;
 
}
.card
{
margin-right: 25px;
  padding: 15px;
  width: 400px;
  border: 1px solid #ccc;
  box-shadow: 2px 5px rgb(134, 132, 132);
}
.card h2{
  border-bottom: 1px solid #ccc;
}
.pagina-pedro
{
 text-align: center;
 font-size: 20px;
 letter-spacing: 3px;
 border-bottom: 2px solid black;
 width: 300px;
 margin: 10px auto;
}
