*{
    box-sizing: content-box;
}
.contenedor{
    width: 95%;
    margin: 0 auto;
    font-family: Helvetica;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "example html code";
}
.html-description{
    margin-right: 15px;
    padding: 10px;
    grid-area: html;
    background-color: lightpink;
}

.example{
    grid-area: example;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "section section section aside"
        "footer footer footer footer";


    padding: 10px;
    background-color: rgb(238, 243, 170);
    margin-right: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    font-weight: bold
}

.header{
    grid-area: header;
    background-color: cornflowerblue;
}
.nav{
    grid-area: nav;
    background-color: darkcyan;
}
.section{
    grid-area: section;
    background-color: darkkhaki;
}
.aside{
    grid-area: aside;
    background-color: darkturquoise;
}
.footer{
    grid-area: footer;
    background-color: coral
}

.header, .nav, .section, .aside, .footer{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}


.code-description{
    grid-area: code;
    padding: 10px;
    background-color: lightgreen;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
pre{
    font-family: Helvetica;
    font-size: 0.9em;
}

pre span{
    font-weight: bold;
}

.clear{
    clear: both;
}