
.formularios {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    max-width: 650px;
  }
  
  .form-group {
    margin: 5px;
  }
  
  label {
    display: inline-block;
    width: 80px;
    text-align: left;
  }
  legend {
    color: rgb(68, 67, 67);
  }

  .contenido-formulario {
  
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
   
  }
  .formulario-css {
    background-color: rgba(152, 158, 158, 0.267);
    border-radius: 3%;
    
    border: none;
  }
  .codigo-formulario {
    background-color: rgba(152, 158, 158, 0.267);
    border-radius: 3%;
    
    border: none;
  }
  .layaout-formulario {
    background-color: rgba(152, 158, 158, 0.267);
    border-radius: 3%;
    border: none;
  }
  .span-css {
    background-color: white;    
    border-bottom: 1px solid   rgb(38, 1, 39);
  
   
  }
  .span-codigo {
    background-color: white;    
    border-bottom: 1px solid   rgb(38, 1, 39);
  
    
  }
  .span-formulario{
    background-color: white;    
    border-bottom: 1px solid   rgb(38, 1, 39);
  }
  fieldset
  {
    border: none;
  }
  .vacio
  {
    border-bottom: 1px solid rgb(126, 125, 125);
  }
 legend
  {
    font-size: 1.5em;
  }
  .titulo-formulario {
    color: rgb(99, 49, 100);
    text-align: center;
    font-weight: bold;
    font-size: 30px!important;  
    
  }
  .pagina-pedro
  {
   text-align: center;
   font-size: 20px;
   letter-spacing: 3px;
   border-bottom: 2px solid black;
   width: 300px;
   margin: 10px auto;
  }
